*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color: rgb(0,0,33);
    color: white;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: blue;

}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li {
    list-style: none;
    margin: 0 23px;
    
}
nav ul li a {
    text-decoration: none;
    color: rgb(51, 3, 3);
    font-weight: 300;
    font-size: 1.5rem;
}
nav ul li a:hover{
    color: aquamarine;
    font-size: 1.04rem;
    box-shadow: 0 0 5px 5px;
}
.left{
    font-size: 1.7rem;
}
.left:hover{
    box-shadow: 0 0 5px cyan,
0 0 25px cyan ,0 0 50px cyan,
0 0 100px cyan, 0 0 200px cyan;
font-size: 1.8rem;


}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 140px 0;

}
.firstSection > div{
    width: 30%;
}
.leftSection{
    font-size: 3rem;
}
.leftSection .btn{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;

}
.leftSection .btn:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan ,0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
.leftSection .button{
    padding: 43px 0;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid red;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
    background: #0ef;
    color: green;
    box-sizing: 0 0 20px #0ef;
}
#services{
    color: azure;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color: #0ef;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px rgb(41, 41, 115),
       1px 1px 40px rgb(122, 122, 213);
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;

}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background-color: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: green;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;

    animation: slideTop is ease forwords;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.read:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan ,0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
.services-list div:hover{
    transform: translateY(-10px);
}
.container{
    padding: 90px;
}

.rightSection img{
    height: 600px;
    width: 600px;
    border-radius: 50%;
}
.purple{
    color: rgb(76, 163, 134);
}
main hr{
    border: 0;
    background-color: blue;
    height: 1.2px;
    margin: 60px 84px;
}



#h1{
    margin-bottom: 10px;


}
#h1:hover{
    font-size: 2rem;
    color: burlywood;
    
}

.progress-container {
    
    display: grid;
grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
grid-gap: 40px;
margin-top: 50px;

}
.progress-container div{
    background-color: transparent;
padding: 40px;
font-size: 13px;
font-weight: 13px;
border-right: 10px;
border-radius: 20px;
transition: background 0.5s, transform 0.5s;
box-shadow: 1px 1px 20px rgb(41, 41, 115),
   1px 1px 40px rgb(122, 122, 213);
}
.ques{
    height: 40px;
    font-size: larger;
}
.q{
    margin-top: 40px;
    width: 130%;
    border: 2px solid rgb(156, 62, 62);
}
.p{
    display: block;
    margin-top: 140px;
    font-weight: 500;
}
.progress {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 10px;
    border-radius: 50%;
    background: conic-gradient(
        green 0deg 0deg,
        lightgray 0deg 360deg
    );
}

.progress.negative {
    background: conic-gradient(
        red 0deg 0deg,
        lightgray 0deg 360deg
    );
}

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar{
    font-size: 28px;
    padding-top: 15px;
}
.Technical-bars .bar{
    margin-top: 40px 0;
}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;


}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: black;
}

.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;


}
.progress-line.html span{
    width: 80%;
}
.progress-line.css span{
    width: 70%;
}
.progress-line.javascript span{
    width: 85%;
}
.progress-line.python span{
    width: 60%;
}
.progress-line.java span{
    width: 75%;
}
.progress-line span:after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #ffff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;

}
.progress-line.html span::after{
    content: 80%;
}
.progress-line.css span::after{
    content: 60%;
}
.progress-line.javascript span::after{
    content: 20%;
}
.progress-line.python span::after{
    content: 60%;
}
.progress-line.java span::after{
    content: 90%;
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    


}
#section{
    display: flex;
    flex-wrap: wrap;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    
    
    
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;


}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    width: 120px;
    height: 160px;
    
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    
}
.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 200;;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 50;;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125;;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 50;;
    }
}
.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
}
.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;

}

.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* align-items: center; */
    gap: 3rem;
    padding-left: 30px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 30px;

}
.contact-forms{
    margin-top: 30px;
    
}

.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h2{
    margin: 15px 0;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}
.contact-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
    letter-spacing: 2px;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
    letter-spacing: 2px;

}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 25px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

}
.contact-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.contact-forms form {
position: relative;
margin-left: 100px;
}
.contact-forms form input ,form textarea{
    border: none;
    outline: none;
    width: 50%;
    padding: 18px;
    background: wheat;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;

}
.contact-forms textarea{
    resize: none;
    height: 120px;
}
.contact-forms form .send{
    display: inline-block;
    padding: 30px 30px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #000;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    
}

.contact-forms form .send:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan ,0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan; 
}





.thirdSection{
    margin-left: 80px;
    height: 600px;
}
.edu-Section{
    
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    height: 150px;
    margin-right: 70px;
    
}
.edu-Section div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px rgb(41, 41, 115),
       1px 1px 40px rgb(122, 122, 213); 
}
.edu-Section div:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 5px cyan,
0 0 25px cyan ,0 0 50px cyan,
0 0 100px cyan, 0 0 200px cyan; 
}

footer{
    background-color: rgb(94, 65, 122);

}

.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
    font-size: 1.5rem;
}
.footer ul{
    list-style: none;
}
.footer > div{
    width: 223px;
}
footer .footer-rights{
text-align: center;
color: black;
padding: 12px 0;
}






















































































































